CompileFlags:
  Add:
    - -I/home/hoanh/workspace/kernels/.venv/lib/python3.12/site-packages/torch/include
    - -I/home/hoanh/workspace/kernels/.venv/lib/python3.12/site-packages/torch/include/torch/csrc/api/include
    - -I/usr/local/cuda-12.8/include
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -gencode*

---
If:
  PathMatch: .*\.cuh
CompileFlags:
  Add:
    - -x
    - cuda